<header class="header page__header">
	<div class="header__top">
		<div class="container header__container">
			<img src="$" alt="KInside" class="header__logo" />
			<h1 class="header__title">{{ meta.title }}</h1>
		</div>
	</div>
	<div class="header__main-painting"></div>
</header>
