.scheme-switcher {
	--scheme-switcher-item-size: 28px;

	position: relative;
	z-index: 0;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;

	padding: 2px;
	margin: 0;

	border: none;
	border-radius: 8px;

	background-color: transparent;
}

.scheme-switcher__label {
	width: var(--scheme-switcher-item-size);
	height: var(--scheme-switcher-item-size);

	padding: 2px;
	margin: 0;

	color: var(--scheme-switcher-main-color);

	background-position: center;
	background-repeat: no-repeat;
	background-size: var(--scheme-switcher-item-size);
	background-color: transparent;

	transition: color ease-in-out 250ms;
}

.scheme-switcher__control:checked + .scheme-switcher__label {
	color: var(--scheme-switcher-alternative-color);
}

.scheme-switcher__status-bar {
	position: absolute;
	inset: 0;
	z-index: -1;

	border-radius: 4px;
}

.scheme-switcher__status {
	position: absolute;
	left: 0;
	top: 2px;

	width: var(--scheme-switcher-item-size);
	height: var(--scheme-switcher-item-size);

	border-radius: 4px;

	color: var(--scheme-switcher-main-color);

	transition: color ease-in-out 250ms, transform ease-in-out 150ms;
}

.scheme-switcher__control:focus-visible ~ .scheme-switcher__status-bar {
	box-shadow: 0 0 0 4px var(--primary-color-100);
}

.scheme-switcher__control--light:checked
	~ .scheme-switcher__status-bar
	.scheme-switcher__status {
	transform: translateX(2px);
}

.scheme-switcher__control--auto:checked
	~ .scheme-switcher__status-bar
	.scheme-switcher__status {
	transform: translateX(calc(100% + 2px));
}

.scheme-switcher__control--dark:checked
	~ .scheme-switcher__status-bar
	.scheme-switcher__status {
	transform: translateX(calc(100% * 2 + 2px));
}
