<!DOCTYPE html>
<html class="page" lang="ru">
	<head>
		<meta charset="UTF-8" />
		<title>
			{{ title }}
			{% if page.url != '/' %} - {{ meta.title }}
			{% endif %}
		</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta
			name="author"
			content="{{ meta.authors | map('name') | join(', ') }}"
		/>
		<meta
			name="description"
			content="{{ meta.subtitle }}. {{ meta.description }}"
		/>

		{# Favicons #}
		<link
			rel="icon"
			href="/images/icons/16.png"
			type="image/png"
			sizes="16x16"
		/>
		<link
			rel="icon"
			href="/images/icons/32.png"
			type="image/png"
			sizes="32x32"
		/>

		{# Social networks integration #}
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ meta.title }}" />
		<meta property="og:site_name" content="{{ meta.subtitle }}" />
		<meta property="og:url" content="http://main.ktep-inside.local" />
		<meta
			property="og:image"
			content="http://main.ktep-inside.local/images/social.jpg"
		/>

		{# Styles #}
		<link
			rel="stylesheet"
			href="/styles/schemes/light.css"
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="stylesheet"
			href="/styles/schemes/dark.css"
			media="(prefers-color-scheme: dark)"
		/>
		<link rel="stylesheet" href="/styles/styles.css" />

		{# Fonts #}
		<link
			rel="preload"
			href="/fonts/red-hat-mono/red-hat-mono-bold.woff"
			crossorigin
			as="font"
			type="font/woff"
		/>
		<link
			rel="preload"
			href="/fonts/red-hat-mono/red-hat-mono-medium.woff"
			crossorigin
			as="font"
			type="font/woff"
		/>
		<link
			rel="preload"
			href="/fonts/red-hat-mono/red-hat-mono-regular.woff"
			crossorigin
			as="font"
			type="font/woff"
		/>

		{# Scripts #}
		<script src="/scripts/scripts.js" type="module" defer></script>
	</head>
	<body class="page__body">
		{{ content | safe }}
	</body>
</html>
